<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-17kEYDaqLaJVujM01JD6IIgckE4ix90</string>
	<key>GCM_SENDER_ID</key>
	<string>1045354707941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.servicesNg.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>services-ng</string>
	<key>STORAGE_BUCKET</key>
	<string>services-ng.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045354707941:ios:2c041a4c3e0fab46a64d0c</string>
</dict>
</plist>